.navbar {
  height: 50px;
  width: 100vh;
  display: flex;
  align-items: center;
  padding: 0 15px;
  background-color: rgba(66, 64, 87, 0.5);
  color: #fff;
}

.links {
  margin-left: auto;
}

.userBlock {
  display: flex;
}
